@use "@styles/color";
@use "@styles/space";

.circle {
  margin: auto;
  border: 8px solid color.$primary-50;
  border-radius: 50%;
  border-top: 8px solid color.$primary-600;
  width: space.$s16;
  height: space.$s16;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
