@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/shadow";

.button {
  cursor: pointer;
  display: flex;
  gap: space.$s2;

  /* remove default button styles */
  border: 1px solid transparent;
  font-family: font.$text-sm-medium;
  border-radius: space.$s2;
  box-shadow: shadow.$xs;
}

.primary {
  color: color.$white;
  background-color: color.$primary-600;
  box-shadow: shadow.$xs;

  &:hover {
    background-color: color.$primary-700;
  }

  &:focus {
    outline: 4px solid color.$primary-100;
  }

  &:disabled {
    border: none;
    background-color: color.$primary-200;
  }
}

.secondary {
  color: color.$primary-600;
  background-color: color.$primary-50;

  &:hover {
    background-color: color.$primary-100;
  }

  &:focus {
    outline: 4px solid color.$primary-100;
  }

  &:disabled {
    color: color.$primary-300;
    border: none;
    background-color: color.$white;
  }
}

.gray {
  border-color: color.$gray-300;
  background-color: transparent;
  color: color.$gray-700;

  &:hover {
    background-color: color.$gray-50;
  }

  &:focus {
    outline: 4px solid color.$gray-100;
  }

  &:disabled {
    color: color.$gray-300;
    border-color: color.$gray-200;
    background-color: transparent;
  }
}

.empty {
  border: none;
  color: color.$primary-700;

  &:hover {
    background-color: color.$primary-50;
  }

  &:focus {
    background-color: transparent;
    outline: none;
  }

  &:disabled {
    color: color.$gray-300;
  }
}

.empty-gray {
  border: none;
  color: color.$gray-500;

  &:hover {
    background-color: color.$gray-50;
    color: color.$gray-600;
  }

  &:focus {
    color: color.$gray-500;
    background-color: transparent;
    outline: none;
  }

  &:disabled {
    color: color.$gray-300;
  }
}

.error {
  background-color: color.$error-600;
  border: none;
  color: color.$white;

  &:hover {
    background-color: color.$error-700;
  }

  &:focus {
    background-color: color.$error-600;
    outline: 4px solid color.$error-100;
  }

  &:disabled {
    background-color: color.$error-200;
  }
}

.empty-error {
  border: none;
  color: color.$error-700;

  &:hover {
    background-color: color.$error-50;
  }

  &:focus {
    background-color: transparent;
  }

  &:disabled {
    color: color.$error-300;
  }
}

.sm {
  padding: 0.5rem 0.875rem;
}

.md {
  padding: 0.625rem space.$s4;
}

.lg {
  padding: 0.625rem 1.125rem;
}

.xlg {
  padding: space.$s3 space.$s5;
}
